In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/refs/heads/master/data/2021/2021-08-03/athletes.csv"
data = pd.read_csv(url)

In [2]:
print("Data Types:\n", data.dtypes)
print("\nMissing Values:\n", data.isnull().sum())

Data Types:
 gender      object
event       object
medal       object
athlete     object
abb         object
country     object
grp_id     float64
type        object
year         int64
guide       object
dtype: object

Missing Values:
 gender       144
event          0
medal          0
athlete      435
abb           49
country    14428
grp_id     14428
type           0
year           0
guide      19494
dtype: int64

In [3]:
# Step 1: Drop rows where 'country' is missing and drop the 'guide' column
data.dropna(subset=['country'], inplace=True)
data.drop(columns=['guide'], inplace=True)

# Step 2: Fill missing values in 'gender' with the mode (most frequent value)
gender_mode = data['gender'].mode()[0]
data['gender'].fillna(gender_mode, inplace=True)

In [4]:
print("Data Types:\n", data.dtypes)
print("\nMissing Values:\n", data.isnull().sum())

Data Types:
 gender      object
event       object
medal       object
athlete     object
abb         object
country     object
grp_id     float64
type        object
year         int64
dtype: object

Missing Values:
 gender       0
event        0
medal        0
athlete    424
abb         39
country      0
grp_id       0
type         0
year         0
dtype: int64

In [5]:
unique_abbreviations = data['abb'].unique()
print("Unique Country Abbreviations:\n", unique_abbreviations)

Unique Country Abbreviations:
 ['FRG' 'SWE' nan 'BEL' 'GBR' 'NED' 'FRA' 'AUS' 'KOR' 'FIN' 'ITA' 'JPN'
 'GER' 'ESP' 'POL' 'USA' 'CHN' 'CZE' 'RUS' 'IRI' 'MEX' 'DEN' 'CAN' 'SUI'
 'POR' 'IRL' 'AUT' 'HKG' 'THA' 'BLR' 'CUB' 'VEN' 'UKR' 'TUN' 'BRA' 'AZE'
 'RSA' 'UZB' 'COL' 'ISR' 'HUN' 'NZL' 'TCH' 'KUW' 'YUG' 'NOR' 'URS' 'JAM'
 'SVK' 'TPE' 'NGR' 'JOR' 'TUR' 'CRO' 'SRB' 'BIH' 'EGY']

In [6]:
# Mapping dictionary for country abbreviations to full names
country_codes = {
    'FRG': 'West Germany',
    'SWE': 'Sweden',
    'BEL': 'Belgium',
    'GBR': 'United Kingdom',
    'NED': 'Netherlands',
    'FRA': 'France',
    'AUS': 'Australia',
    'KOR': 'South Korea',
    'FIN': 'Finland',
    'ITA': 'Italy',
    'JPN': 'Japan',
    'GER': 'Germany',
    'ESP': 'Spain',
    'POL': 'Poland',
    'USA': 'United States',
    'CHN': 'China',
    'CZE': 'Czech Republic',
    'RUS': 'Russia',
    'IRI': 'Iran',
    'MEX': 'Mexico',
    'DEN': 'Denmark',
    'CAN': 'Canada',
    'SUI': 'Switzerland',
    'POR': 'Portugal',
    'IRL': 'Ireland',
    'AUT': 'Austria',
    'HKG': 'Hong Kong',
    'THA': 'Thailand',
    'BLR': 'Belarus',
    'CUB': 'Cuba',
    'VEN': 'Venezuela',
    'UKR': 'Ukraine',
    'TUN': 'Tunisia',
    'BRA': 'Brazil',
    'AZE': 'Azerbaijan',
    'RSA': 'South Africa',
    'UZB': 'Uzbekistan',
    'COL': 'Colombia',
    'ISR': 'Israel',
    'HUN': 'Hungary',
    'NZL': 'New Zealand',
    'TCH': 'Czechoslovakia',
    'KUW': 'Kuwait',
    'YUG': 'Yugoslavia',
    'NOR': 'Norway',
    'URS': 'Soviet Union',
    'JAM': 'Jamaica',
    'SVK': 'Slovakia',
    'TPE': 'Chinese Taipei',
    'NGR': 'Nigeria',
    'JOR': 'Jordan',
    'TUR': 'Turkey',
    'CRO': 'Croatia',
    'SRB': 'Serbia',
    'BIH': 'Bosnia and Herzegovina',
    'EGY': 'Egypt'
}

# Apply the mapping to replace abbreviations with full country names
data['country'] = data['abb'].map(country_codes).fillna(data['country'])

# Display the first few rows to verify that 'country' has been correctly mapped
print(data[['abb', 'country']].head(10))

    abb       country
39  FRG  West Germany
40  FRG  West Germany
41  FRG  West Germany
42  SWE        Sweden
43  SWE        Sweden
44  SWE        Sweden
45  NaN             -
46  BEL       Belgium
47  BEL       Belgium
48  BEL       Belgium

In [7]:
gender_distribution = data.groupby(['year', 'gender']).size().reset_index(name='athlete_count')

In [8]:
medal_distribution = data[data['medal'] != "No Medal"].groupby('country').size().reset_index(name='medal_count')

In [9]:
merged_data = pd.merge(data, medal_distribution, on='country', how='left')
merged_data = pd.merge(merged_data, gender_distribution, on=['year', 'gender'], how='left')

In [10]:
final_data = merged_data[['year', 'gender', 'medal', 'athlete', 'country', 'type', 'medal_count', 'athlete_count']]
final_data.to_csv("cleaned_athletes_data.csv", index=False)